@model projetodotnnett.Models.Produto

<h2>Editar Produto</h2>

<form method="post">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="mb-3">
        <label>Nome</label>
        <input type="text" name="Nome" class="form-control" value="@Model.Nome" required />
    </div>

    <div class="mb-3">
        <label>Quantidade</label>
        <input type="number" name="Quantidade" class="form-control" value="@Model.Quantidade" required />
    </div>

    <div class="mb-3">
        <label>Preço</label>
        <input type="number" step="0.01" name="Preco" class="form-control" value="@Model.Preco" required />
    </div>

    <button class="btn btn-warning">Salvar Alterações</button>
    <a href="/Produto" class="btn btn-secondary">Cancelar</a>
</form>
