@model projetodotnnett.Models.Produto

<h2 class="mb-4 text-danger">Excluir Produto</h2>

<div class="card shadow-sm p-4">

    <p class="fs-5">Tem certeza que deseja excluir <strong>@Model.Nome</strong>?</p>

    <form method="post" action="/Produto/ExcluirConfirmado/@Model.Id">
        <button class="btn btn-danger">Sim, excluir</button>
        <a href="/Produto/Index" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
