@model List<projetodotnnett.Models.Produto>

<h2 class="mb-3">Produtos</h2>

<a href="/Produto/Criar" class="btn btn-primary mb-3">Cadastrar Produto</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th style="width: 180px;">Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Nome</td>
                <td>@p.Quantidade</td>
                <td>R$ @p.Preco</td>

                <td>
                    <a class="btn btn-sm btn-warning" href="/Produto/Editar/@p.Id">Editar</a>
                    <a class="btn btn-sm btn-danger" href="/Produto/Excluir/@p.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
