@{
    ViewData["Title"] = "Produtos";
}

<h2 class="mb-3">Produtos</h2>

<a class="btn btn-primary mb-3" href="/Produto/Criar">Adicionar Produto</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mouse Gamer</td>
            <td>12</td>
            <td>R$ 79,90</td>
            <td>
                <a class="btn btn-sm btn-warning">Editar</a>
                <a class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>
